setuptools
numpy==1.14.0
scipy==0.18
scikit-learn==0.17
nibabel
matplotlib
pandas==0.20.1
h5py
h5io
statsmodels==0.8.0
IPython
seaborn
tqdm
plotly=2.1.0
colorlover
moviepy==0.2.3.4
imageio==2.4.1
jupyter